html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --color-main-bg: #f1f1f1;
  --color-white: #fff;
  --color-black: #000;
  --color-black-light: #333;
  --color-gray: #999;
  --color-gray-light: #e9e9e9;
  --color-gray-dark: #666;
  --color-orange-light: #f0bf5f;
  --color-orange: #cc9933;
  --color-orange-dark: #a47312;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  background-color: var(--color-main-bg);
}

/* glob */
.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  margin-bottom: 70px;
  width: 1170px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-black-light);
}

.btn {
  padding: 13px 20px;
  border: 1px solid var(--color-orange);
  border-radius: 10px;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-orange);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn:focus {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn:active {
  border-color: var(--color-orange-dark);
  background-color: var(--color-orange-dark);
  color: var(--color-white);
}

.link {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.link:focus::after {
  content: "";
  position: absolute;
  inset: -4px;
  display: block;
  outline: 1px solid var(--color-orange);
}

.link:hover {
  color: var(--color-orange);
}

.link-2:hover {
  color: var(--color-orange-light);
}

.link:active {
  outline: none;
  color: var(--color-orange-dark);
}

.link:active::after {
  outline: none;
}

/* header */
.header-top {
  align-items: center;
  margin: 30px 0;
  font-size: 0;
}

.header-logo {
  margin-right: 40px;
}

.header-address {
  margin-right: auto;
}

.header-number {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-gray-dark);
}

.header-link {
  padding-left: 28px;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-orange);
  background-image: url('../img/header-link.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 21px 12px;
}

.header-bottom {
  align-items: center;
  justify-content: space-between;
  padding: 14px 45px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.header-item {
  font-size: 16px;
  line-height: 100%;
  color: var(--color-gray-dark);
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* section-1 */
.section-1-left {
  margin-right: 24px;
}

.offer {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
  width: 573px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.offer:not(:last-child) {
  margin-bottom: 24px;
}

.offer-1 {
  min-height: 258px;
  background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0), transparent), url('../img/offer-1.jpg');
}

.offer-2 {
  min-height: 258px;
  background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84), rgba(53, 65, 83, 0), transparent), url('../img/offer-2.jpg');
}

.offer-3 {
  justify-content: flex-end;
  padding-right: 229px;
  min-height: 540px;
  background-image: url('../img/offer-3.jpg');
}

.offer-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-white);
}

.offer-3-title {
  font-size: 60px;
}

.offer-price {
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-white);
}

.offer-3-price {
  font-size: 30px;
}

.offer-link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-orange-light);
  transition: color 0.3s ease-in-out;
}

.offer-link svg {
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.offer-link:focus::after {
  content: "";
  position: absolute;
  inset: -7px;
  display: block;
  outline: 1px solid var(--color-orange);
}

.offer-link:hover svg {
  transform: translateX(11px);
}

.offer-link:active {
  color: var(--color-white);
}

.offer-link:active::after {
  outline: none;
}

/* section-2 */
.section-2-descr {
  margin: 0;
  width: 888px;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/* section-3 */
.section-3-list {
  flex-wrap: wrap;
}

.section-3-item {
  position: relative;
  margin-bottom: 24px;
  padding: 191px 126px 35px 45px;
  border-radius: 15px;
  width: 573px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 573px 165px;
  background-color: var(--color-white);
}

.section-3-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.service-1 {
  background-image: url(../img/service-1.jpg);
}

.service-2 {
  background-image: url(../img/service-2.jpg);
}

.service-3 {
  background-image: url(../img/service-3.jpg);
}

.service-4 {
  background-image: url(../img/service-4.jpg);
}

.service-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-orange);
}

.service-link {
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.service-link svg {
  margin-left: 5px;
  transition: transform 0.3s ease-in-out;
}

.service-link svg path {
  stroke: var(--color-orange);
  transition: stroke 0.3s ease-in-out;
}

.service-link:focus::after {
  content: "";
  position: absolute;
  inset: -7px;
  display: block;
  outline: 1px solid var(--color-orange);
}

.service-link:hover {
  color: var(--color-orange-light);
}

.service-link:hover svg {
  transform: translateX(11px);
}

.service-link:hover svg path {
  stroke: var(--color-orange-light);
}

.service-link:active {
  color: var(--color-orange-dark);
}

.service-link:active::after {
  outline: none;
}

.service-descr {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

/* section-4 */
.section-4-list {
  flex-wrap: wrap;
}

.section-4-item {
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;
  width: 276px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-color: var(--color-white);
}

.section-4-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.benefit-descr {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: var(--color-black);
}

.benefit-1 {
  background-image: url('../img/benefit-1.svg');
}

.benefit-2 {
  background-image: url('../img/benefit-2.svg');
}

.benefit-3 {
  background-image: url('../img/benefit-3.svg');
}

.benefit-4 {
  background-image: url('../img/benefit-4.svg');
}

.benefit-5 {
  background-image: url('../img/benefit-5.svg');
}

.benefit-6 {
  background-image: url('../img/benefit-6.svg');
}

.benefit-7 {
  background-image: url('../img/benefit-7.svg');
}

.benefit-8 {
  background-image: url('../img/benefit-8.svg');
}

/* section-5 */
.section-5-list {
  flex-wrap: wrap;
}

.section-5-item {
  margin-bottom: 24px;
  border-radius: 15px;
  width: 374px;
  min-height: 440px;
  font-size: 0;
  overflow: hidden;
  background-color: var(--color-white);
}

.section-5-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.location-info {
  flex-direction: column;
  padding: 45px;
  padding-top: 32px;
}

.location-info-top {
  justify-content: space-between;
  margin-bottom: 16px;
}

.location-price-1 {
  margin-right: 4px;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-gray);
}

.location-price-2 {
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-black);
}

.location-price-3 {
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black);
}

.location-rating {
  min-width: 95px;
}

.location-rating img:not(:last-child) {
  margin-right: 6px;
}

.location-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black);
}

.location-city {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-gray);
}

.section-5-last-item {
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding: 373px 54px 27px;
  background-image: url('../img/section-5.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.location-link {
  padding-right: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--color-white);
  background-image: url('../img/section-5-link.svg');
  background-position: right center;
  background-repeat: no-repeat;
}

.location-link::before {
  content: "";
  position: absolute;
  inset: 0;
}

/* section-6 */
.section-6-container {
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 15px;
  background-color: var(--color-gray-light);
}

.section-6-title {
  color: var(--color-black);
}

.form {
  align-items: center;
  margin: 0 auto;
  padding: 31px 28px;
  border-radius: 15px;
  width: 1080px;
  min-height: 106px;
  background-color: var(--color-white);
}

.form-list {
  margin-right: 51px;
}

.form-item {
  display: inline-block;
}

.form-item:not(:last-child) {
  margin-right: 41px;
}

.form-label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-black);
}

.form-select {
  border: none;
  width: 169px;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black);
  cursor: pointer;
}

.form-date,
.form-number {
  border: none;
  width: 120px;
}

.form-number {
  border-bottom: 1px solid var(--color-gray-light);
}

.form-btn {
  padding: 13px 30px;
}

/* section-7 */
.section-7-container {
  margin-bottom: 40px;
}

.contacts-wrapper {
  padding: 45px;
  border-radius: 15px;
  min-height: 618px;
  font-style: normal;
  background-color: var(--color-white);
}

.container-left {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 52px;
  width: 375px;
}

.container-right {
  width: 653px;
  background-image: url("../img/contacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.contacts-list {
  display: inline-block;
  margin-bottom: 45px;
  width: 375px;
}

.contacts-item {
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--color-gray-light);
}

.contacts-item:not(:last-child) {
  margin-bottom: 25px;
}

.contacts-title {
  margin: 0;
  width: 98px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-black);
}

.contacts-descr {
  flex-direction: column;
  align-items: flex-start;
  width: 229px;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
}

.contacts-descr a {
  color: var(--color-orange);
}

.mail-descr {
  margin: 0;
  color: var(--color-gray);
}

.contacts-btn {
  padding: 27px 29px;
  max-width: 215px;
}

/* footer */
.footer-container {
  margin-bottom: 30px;
  padding: 45px;
  border-radius: 15px;
  min-height: 341px;
  background-color: var(--color-black-light);
  background-image: url("../img/footer.svg");
  background-position: 739px bottom;
  background-repeat: no-repeat;
}

.footer-left {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 125px;
  width: 302px;
  font-size: 16px;
  line-height: 190%;
  color: var(--color-white);
}

.footer-copy {
  margin-bottom: 37px;
  font-size: 16px;
}

.footer-descr {
  margin: 0;
  margin-bottom: 40px;
}

.footer-link {
  line-height: 150%;
  color: var(--color-orange);
}

.footer-center {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 269px;
  width: 359px;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-white);
}

.footer-address,
.footer-number {
  margin-bottom: 15px;
}

.footer-center a {
  display: block;
  line-height: 150%;
  color: var(--color-orange);
}

.footer-right {
  width: 25px;
}

.footer-icon {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-icon path {
  fill: var(--color-gray);
  transition: fill 0.3s ease-in-out;
}

.footer-icon:focus path{
  fill: var(--color-orange);
}

.footer-icon:hover path{
  fill: var(--color-orange);
}

.footer-icon:active path{
  fill: var(--color-orange-dark);
}

.footer-item:not(:last-child) {
  margin-bottom: 20px;
}
